body {
    background-image:url("https://media.istockphoto.com/id/1035676256/photo/background-of-galaxy-and-stars.jpg?s=612x612&w=0&k=20&c=dh7eWJ6ovqnQZ9QwQQlq2wxqmAR7mgRlQTgaIylgBwc=");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}

.map{
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border: 10px solid black;
}

p{
    font-size:xx-large;
    color: rgb(167, 186, 194);
    border: 2px solid rgb(167, 186, 194);
    width: 40px;
    text-align: center;
    transition-duration: 0.4s;

}

a{
    text-decoration: none;
    color: rgb(167, 186, 194);
}

p:hover{
    
    color: rgb(236, 230, 233);
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}